<footer class="footer">
  <div class="get_flex">
    <div class="displayFlex container footer_options">
      <div class="displayFlex navBar">
        <ul class="displayFlex">
          <li><a href="#">首頁</a></li>
          <li><a href="#">系列鏡框</a></li>
          <li><a href="#">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
      </div>
      <div class="displayFlex social_icons">
        <a href="#">
          <img
            src="../assets/img/ic-social-fb.png"
            alt="fb_icon"
            class="img_icon"
        /></a>
        <a href="#"
          ><img
            src="../assets/img/ic_social_ig.png"
            alt="ig_icon"
            class="img_icon"
        /></a>
        <a href="#">
          <img
            src="../assets/img/ic_social_line.png"
            alt="line_icon"
            class="img_icon"
        /></a>
      </div>
    </div>
    <div class="phone_email">
      <div class="container displayFlex phone">
        <img src="../assets/img/icons8-phone-24.png" alt="phone_icon" />
        <a href="tel:+886-0800000000">0800-000-000</a>
      </div>
      <div class="container displayFlex email">
        <img src="../assets/img/icons8-email-32.png" alt="email_icon" />
        <a href="mailto:glasses@business.com">glasses@business.com</a>
      </div>
    </div>
  </div>
  <hr class="container divider" />
  <div class="container displayFlex policy">
    <p>Copyright © 2020 Glasses.All rights reserved.</p>
    <div class="displayFlex private_policy">
      <h4><a href="#">隱私權政策</a></h4>
      <h4><a href="#">服務條款</a></h4>
    </div>
  </div>
</footer>
