<header class="displayFlex header">
  <ul class="container displayFlex navBar">
    <li>
      <a href="index.html"
        ><img src="../assets/img/logo-white.png" alt="logo" class="img_logo"
      /></a>
    </li>
    <li>
      <ul class="displayFlex">
        <li><a href="products.html">系列鏡框</a></li>
        <li><a href="location.html">門市據點</a></li>
        <li><a href="#">部落格</a></li>
        <li><a href="#">常見問題</a></li>
      </ul>
    </li>
  </ul>
</header>
<div class="displayFlex navBar_phone">
  <div class="displayFlex options">
    <h2><a href="products.html">系列鏡框</a></h2>
    <h2><a href="location.html">門市據點</a></h2>
  </div>
  <div class="displayFlex options">
    <h2><a href="#">部落格</a></h2>
    <h2><a href="#">常見問題</a></h2>
  </div>
</div>
