<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>眼鏡電商</title>
  </head>
  <body>
    <!--header-->
    <%- include('./layout/header'); -%>
    <!--main content-->
    <main class="container content">
      <div class="displayFlex location_headline">
        <div class="redBar"></div>
        <h1>門市據點</h1>
      </div>
      <div class="displayFlex regionSelect">
        <label for="region"> 選擇地區 </label>
        <select name="地區" id="region">
          <option value="Taipei">台北市</option>
        </select>
      </div>
      <div class="displayFlex locations_container">
        <div class="displayFlex locations">
          <div class="location1">
            <img
              src="../assets/img/store-1.png"
              alt="locaion1"
              class="main_location_pic"
            />
            <h3>台北中山旗艦店</h3>

            <ul>
              <li class="displayFlex location_info">
                <img
                  src="../assets/img/icons8-phoneg.png"
                  alt="phone_icon"
                  class="icon"
                />
                <p>電話：(02)000-1234</p>
              </li>
              <li class="displayFlex location_info">
                <img
                  src="../assets/img/icons8-clock-48.png"
                  alt="clock_icon"
                  class="icon"
                />
                <p>營業時間：10:00-21:00</p>
              </li>
              <li class="displayFlex location_info">
                <img
                  src="../assets/img/icons8-location-16.png"
                  alt="phone_icon"
                  class="icon"
                />
                <p>地址：台北市中山區南京東路25巷2-1號</p>
              </li>
            </ul>
            <h4>詳細資訊</h4>
          </div>
          <div class="location1">
            <img
              src="../assets/img/store-2.png"
              alt="locaion1"
              class="main_location_pic"
            />
            <h3>台北綠園店</h3>
            <div class="try">
              <ul>
                <li class="displayFlex location_info">
                  <img
                    src="../assets/img/icons8-phoneg.png"
                    alt="phone_icon"
                    class="icon"
                  />
                  <p>電話：(02)000-1234</p>
                </li>
                <li class="displayFlex location_info">
                  <img
                    src="../assets/img/icons8-clock-48.png"
                    alt="clock_icon"
                    class="icon"
                  />
                  <p>營業時間：10:00-21:00</p>
                </li>
                <li class="displayFlex location_info">
                  <img
                    src="../assets/img/icons8-location-16.png"
                    alt="phone_icon"
                    class="icon"
                  />
                  <p>地址：台北市中正區復興南路 132-1 號</p>
                </li>
              </ul>
            </div>
            <h4>詳細資訊</h4>
          </div>
          <div class="location1">
            <img
              src="../assets/img/store-3.png"
              alt="locaion1"
              class="main_location_pic"
            />
            <h3>台中清水旗艦店</h3>
            <ul>
              <li class="displayFlex location_info">
                <img
                  src="../assets/img/icons8-phoneg.png"
                  alt="phone_icon"
                  class="icon"
                />
                <p>電話：(02)000-1234</p>
              </li>
              <li class="displayFlex location_info">
                <img
                  src="../assets/img/icons8-clock-48.png"
                  alt="clock_icon"
                  class="icon"
                />
                <p>營業時間：10:00-21:00</p>
              </li>
              <li class="displayFlex location_info">
                <img
                  src="../assets/img/icons8-location-16.png"
                  alt="phone_icon"
                  class="icon"
                />
                <p>地址：台中市清水區經南一路 23 號 8 樓</p>
              </li>
            </ul>
            <h4>詳細資訊</h4>
          </div>
          <div class="location1">
            <img
              src="../assets/img/store-4.png"
              alt="locaion1"
              class="main_location_pic"
            />
            <h3>高雄中正形象店</h3>
            <ul>
              <li class="displayFlex location_info">
                <img
                  src="../assets/img/icons8-phoneg.png"
                  alt="phone_icon"
                  class="icon"
                />
                <p>電話：(02)000-1234</p>
              </li>
              <li class="displayFlex location_info">
                <img
                  src="../assets/img/icons8-clock-48.png"
                  alt="clock_icon"
                  class="icon"
                />
                <p>營業時間：10:00-21:00</p>
              </li>
              <li class="displayFlex location_info">
                <img
                  src="../assets/img/icons8-location-16.png"
                  alt="phone_icon"
                  class="icon"
                />
                <p>地址：高雄市苓雅區中正路 38 號 12 樓</p>
              </li>
            </ul>
            <h4>詳細資訊</h4>
          </div>
          <div class="location1">
            <img
              src="../assets/img/store-5.png"
              alt="locaion1"
              class="main_location_pic"
            />
            <h3>高雄夢時代店</h3>
            <ul>
              <li class="displayFlex location_info">
                <img
                  src="../assets/img/icons8-phoneg.png"
                  alt="phone_icon"
                  class="icon"
                />
                <p>電話：(02)000-1234</p>
              </li>
              <li class="displayFlex location_info">
                <img
                  src="../assets/img/icons8-clock-48.png"
                  alt="clock_icon"
                  class="icon"
                />
                <p>營業時間：10:00-21:00</p>
              </li>
              <li class="displayFlex location_info">
                <img
                  src="../assets/img/icons8-location-16.png"
                  alt="phone_icon"
                  class="icon"
                />
                <p>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
              </li>
            </ul>
            <h4>詳細資訊</h4>
          </div>
        </div>
      </div>
    </main>

    <!--footer-->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
