<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body>
    <!--header-->
    <%- include('./layout/header'); -%>

    <!--products-->
    <main class="product">
      <div class="product_container product_category">
        <ul class="product_container displayFlex">
          <li><a href="#">OPTICAL</a></li>
          <li><a href="#">SUNGLASSES</a></li>
          <li><a href="#">FUNCTIONAL</a></li>
        </ul>
      </div>
      <div class="displayFlex product_banner">
        <div class="banner_container">
          <img
            src="../assets/img/product-header-1.png"
            alt="product_header_img"
          />
        </div>
        <div class="banner_container">
          <img
            src="../assets/img/product-header-2.png"
            alt="product_header_img"
          />
        </div>
      </div>
      <div class="displayFlex banner_table">
        <div class="banner_container_phone">
          <img
            src="../assets/img/product-header-sm-1.png"
            alt="product_header_img"
          />
        </div>
        <div class="banner_container_phone">
          <img
            src="../assets/img/product-header-sm-2.png"
            alt="product_header_img"
          />
        </div>
      </div>

      <!--products-->
      <section class="container displayFlex main_products">
        <h1>Celluloid Combi</h1>
        <h2>賽璐珞鈦金屬混合鏡框</h2>
        <div class="displayFlex products">
          <div class="displayFlex product_1">
            <img src="../assets/img/product-1.png" alt="product1" />
            <div class="product_detail">
              <ul class="displayFlex product_detail_ul">
                <li><a href="">BJ41600S</a></li>
                <li><span>NTD3,490</span></li>
              </ul>
            </div>
            <div class="displayFlex products_color">
              <img src="../assets/img/icons8-square-color1.png" alt="color1" />
              <img src="../assets/img/icons8-square-color2.png" alt="color2" />
            </div>
          </div>
          <div class="displayFlex product_1">
            <img src="../assets/img/product-2.png" alt="product2" />
            <div class="product_detail">
              <ul class="displayFlex product_detail_ul">
                <li><a href="">BJ41600S</a></li>
                <li><span>NTD3,490</span></li>
              </ul>
            </div>
            <div class="displayFlex products_color">
              <img src="../assets/img/icons8-square-color1.png" alt="color1" />
              <img src="../assets/img/icons8-square-color2.png" alt="color2" />
            </div>
          </div>
          <div class="displayFlex product_1">
            <img src="../assets/img/product-3.png" alt="product3" />
            <div class="product_detail">
              <ul class="displayFlex product_detail_ul">
                <li><a href="">BJ41600S</a></li>
                <li><span>NTD3,490</span></li>
              </ul>
            </div>
            <div class="displayFlex products_color">
              <img src="../assets/img/icons8-square-color1.png" alt="color1" />
              <img src="../assets/img/icons8-square-color2.png" alt="color2" />
            </div>
          </div>
          <div class="displayFlex product_1">
            <img src="../assets/img/product-4.png" alt="product4" />
            <div class="product_detail">
              <ul class="displayFlex product_detail_ul">
                <li><a href="">BJ41600S</a></li>
                <li><span>NTD3,490</span></li>
              </ul>
            </div>
            <div class="displayFlex products_color">
              <img src="../assets/img/icons8-square-color1.png" alt="color1" />
              <img src="../assets/img/icons8-square-color2.png" alt="color2" />
            </div>
          </div>
          <div class="displayFlex product_1">
            <img src="../assets/img/product-5.png" alt="product1" />
            <div class="product_detail">
              <ul class="displayFlex product_detail_ul">
                <li><a href="">BJ41600S</a></li>
                <li><span>NTD3,490</span></li>
              </ul>
            </div>
            <div class="displayFlex products_color">
              <img src="../assets/img/icons8-square-color1.png" alt="color1" />
              <img src="../assets/img/icons8-square-color2.png" alt="color2" />
            </div>
          </div>
          <div class="displayFlex product_1">
            <img src="../assets/img/product-6.png" alt="product5" />
            <div class="product_detail">
              <ul class="displayFlex product_detail_ul">
                <li><a href="">BJ41600S</a></li>
                <li><span>NTD3,490</span></li>
              </ul>
            </div>
            <div class="displayFlex products_color">
              <img src="../assets/img/icons8-square-color1.png" alt="color1" />
              <img src="../assets/img/icons8-square-color2.png" alt="color2" />
            </div>
          </div>
          <div class="displayFlex product_1">
            <img src="../assets/img/product-7.png" alt="product6" />
            <div class="product_detail">
              <ul class="displayFlex product_detail_ul">
                <li><a href="">BJ41600S</a></li>
                <li><span>NTD3,490</span></li>
              </ul>
            </div>
            <div class="displayFlex products_color">
              <img src="../assets/img/icons8-square-color1.png" alt="color1" />
              <img src="../assets/img/icons8-square-color2.png" alt="color2" />
            </div>
          </div>
          <div class="displayFlex product_1">
            <img src="../assets/img/product-8.png" alt="product7" />
            <div class="product_detail">
              <ul class="displayFlex product_detail_ul">
                <li><a href="">BJ41600S</a></li>
                <li><span>NTD3,490</span></li>
              </ul>
            </div>
            <div class="displayFlex products_color">
              <img src="../assets/img/icons8-square-color1.png" alt="color1" />
              <img src="../assets/img/icons8-square-color2.png" alt="color2" />
            </div>
          </div>
          <div class="displayFlex product_1">
            <img src="../assets/img/product-9.png" alt="product8" />
            <div class="product_detail">
              <ul class="displayFlex product_detail_ul">
                <li><a href="">BJ41600S</a></li>
                <li><span>NTD3,490</span></li>
              </ul>
            </div>
            <div class="displayFlex products_color">
              <img src="../assets/img/icons8-square-color1.png" alt="color1" />
              <img src="../assets/img/icons8-square-color2.png" alt="color2" />
            </div>
          </div>
          <div class="displayFlex product_1">
            <img src="../assets/img/product-9.png" alt="product9" />
            <div class="product_detail">
              <ul class="displayFlex product_detail_ul">
                <li><a href="">BJ41600S</a></li>
                <li><span>NTD3,490</span></li>
              </ul>
            </div>
            <div class="displayFlex products_color">
              <img src="../assets/img/icons8-square-color1.png" alt="color1" />
              <img src="../assets/img/icons8-square-color2.png" alt="color2" />
            </div>
          </div>
          <div class="displayFlex product_1">
            <img src="../assets/img/product-10.png" alt="product10" />
            <div class="product_detail">
              <ul class="displayFlex product_detail_ul">
                <li><a href="">BJ41600S</a></li>
                <li><span>NTD3,490</span></li>
              </ul>
            </div>
            <div class="displayFlex products_color">
              <img src="../assets/img/icons8-square-color1.png" alt="color1" />
              <img src="../assets/img/icons8-square-color2.png" alt="color2" />
            </div>
          </div>
          <div class="displayFlex product_1">
            <img src="../assets/img/product-11.png" alt="product11" />
            <div class="product_detail">
              <ul class="displayFlex product_detail_ul">
                <li><a href="">BJ41600S</a></li>
                <li><span>NTD3,490</span></li>
              </ul>
            </div>
            <div class="displayFlex products_color">
              <img src="../assets/img/icons8-square-color1.png" alt="color1" />
              <img src="../assets/img/icons8-square-color2.png" alt="color2" />
            </div>
          </div>
        </div>
      </section>
      <!--pagination -->
      <div class="displayFlex pagination">
        <ul class="displayFlex">
          <li><a href="#">上一頁</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">下一頁</a></li>
        </ul>
      </div>
    </main>

    <!--footer-->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
